<table class='table table-bordered table-striped'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th>Weapon</th>
        </tr>
    </thead>
    <tbody  cdkDropList
            [cdkDropListData]="dataSource" 
            (cdkDropListDropped)="onDrop($event)">
        <tr *ngFor='let person of getPeople()' 
                cdkDrag 
                [cdkDragData]="person" 
                cdkDragLockAxis="y">
            <th>
                <div class="drag-handle">
                  <ng-container [ngTemplateOutlet]="dragHandleTmpl"> </ng-container>
                  {{ person.Id }}
                </div>
            </th>
        
            <td>{{person.Name}}</td>
            <td>{{person.Role}}</td>
            <td>{{person.Weapon}}</td>
        </tr>
    </tbody>
</table>